<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <head>
        <title>histori</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        <section layout:fragment="content">
            <h1>
                welcome to histori page fvsaddam
            </h1>

            <div class="panel panel-default">
                <div class="panel-heading">Saldo: Rp xxx,00</div>
                
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>Date</tr>
                        <tr>Jual</tr>
                        <tr>Transfer</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>27-juni-2018</td>
                            <td>140.000</td>
                            <td> - </td>
                        </tr>
                        <tr>
                            <td>31-juni-2018</td>
                            <td>60.000</td>
                            <td> - </td>
                        </tr>
                        <tr>
                            <td>1-Agustus-2018</td>
                            <td> - </td>
                            <td>200.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
    </body>
</html>
